---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import Tags from './Tags.astro';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<div class='container'>
  <h3>{project.data.title}</h3>
  <Image
    src={project.data.image}
    alt={project.data.alt}
  />

  <div class='extra'>
    <Tags tags={project.data.technologies} />
    <a href={`/projects/${project.id}`}>About this Project</a>
  </div>
</div>

<style>
  @media screen and (min-width: 0px) {
    .container {
      width: 100%;
      max-width: 500px;
      padding: 1rem;
      background-color: var(--background-secondary);
      border-radius: 20px;
    }

    h3 {
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
      margin-block: 0.25rem;
    }

    .extra {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      a {
        color: var(--foreground-accent);
        border: 2px solid var(--foreground-accent);
        padding: 6px 8px;
        border-radius: 5px;
        transition:
          background-color 100ms ease-in-out,
          color 100ms ease-in-out;

        &:hover {
          color: var(--background-secondary);
          background-color: var(--foreground-accent);
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .extra {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
